{% extends 'base.html' %}
{% block title %}
    Episodio
{% endblock %}
{% block content %}

<div class="container">
  <div class="row">
    <div class="col">

    </div>
    <div class="col-6">
        <br>
      <h1>Episodio: {{ episodio['name'] }}</h1>
        <br>
<h3>Lanzmiento: {{ episodio['air_date'] }}</h3>

<h3>Código: {{ episodio['episode'] }}</h3>

<h3>Personajes involucrados</h3>
    </div>
      <div class="col">

    </div>
  </div>

<div class="row">
    <div class="col-3">

    </div>
    <div class="col-5">

    <table class="table table-hover">

    <tbody>
    {% for item in personajes %}
    <tr>
    <td><a href="{{ url_for('personaje',name= item['id']|string)}}">{{item['name']}}</a>
    </td>
    </tr>
    {% endfor %}
    </tbody>
    </table>

    </div>
    <div class="col">

    </div>
    </div>




</div>
{% endblock %}