{% extends 'base.html' %}
{% block title %}
    Locacion
{% endblock %}
{% block content %}

<div class="container">
  <div class="row">
    <div class="col">

    </div>
    <div class="col-6">
    <br>
      <h1>Locación: {{ locacion['name'] }}</h1>
    <br>
<h3>Tipo: {{ locacion['type'] }}</h3>

<h3>Dimensión: {{ locacion['dimension'] }}</h3>

<h3>Residentes</h3>
<table class="table table-hover">
  <tbody>
  {% for item in residentes %}

    <tr>
      <td><a href="{{ url_for('personaje',name= item['id']|string)}}">{{item['name']}}</a>
</td>
    </tr>
  {% endfor %}
  </tbody>
</table>
    </div>
    <div class="col">

    </div>
  </div>

</div>
{% endblock %}
